/* Blue #233e8b Green #1eae98 Turquoise #a9f1df Yellow #ffffc7 */
h1 {
  margin: .5em 0 .1em;
  color: #ffffc7;
  font-size: 2.6rem;
}

.subtitle {
  font-size: 1.2rem;
  font-weight: normal;
  color: #ffffc7;
  /* #F0AE62 #E6994E #FF7230 #E3584B #D64740 #63A6D3 #4092C9*/
  margin-bottom: 1.2em;
}

p {
  margin: 0 0 .5em 0;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #233e8b;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: bold;
  color: #a9f1df;
}

.App-main {
  background-color: #1eae98;
  color: #ffffc7;
  padding: 1rem;
  width: 320px;
  text-align: center;
  margin: 0 auto;
}

.App-footer {
  background-color: #233e8b;
  color: #1eae98;
  font-size: .8rem;
  padding: 1rem;
}

a:link,
a:visited,
a:active {
  color: #1eae98;
}

a:hover {
  color: #a9f1df;
}

input {
  display: inline-block;
}

.itemList {
  text-align: left;
}

ul {
  list-style-type: none;
}

li:hover {
  font-size: 1.2em;
  font-weight: bold;
  color: #ffffdc;
}

button {
  background-color: #233e8b;
  color: #a9f1df;
  border: none;
  padding: 6px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  margin: 4px 2px;
  cursor: pointer;
}

input {
  background-color: #ffffc7;
  color: #233e8b;
  border: none;
  padding: 6px;
  font-size: 1rem;
}

input[type=checkbox]:not(:checked)+label {
  text-decoration: none;
}

input[type=checkbox]:checked+label {
  color: grey;
  text-decoration: line-through;
}