/* Blue #233e8b Green #1eae98 Turquoise #a9f1df Yellow #ffffc7 */
h1 {
  margin: .5em 0 .1em;
  color: #ffffc7;
  font-size: 2.6rem;
}

.subtitle {
  font-size: 1.2rem;
  font-weight: normal;
  color: #fde1b7;
  /* #F0AE62 #E6994E #FF7230 #E3584B #D64740 #63A6D3 #4092C9*/
  margin-bottom: 1.2em;
}

.listheader {
  padding: 6px 14px;
  font-size: 1.3rem;
  /* border: 1px solid #1eae98; */
  margin-bottom: 0;
  color: #1eae98;
}

p {
  margin: 0 0 .5em 0;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #233e8b;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.App-main {
  background-color: #1eae98;
  color: #ffffc7;
  padding: 1rem;
  width: 280px;
  text-align: center;
  margin: 0 auto;
}

.App-footer {
  background-color: #233e8b;
  color: #1eae98;
  font-size: .8rem;
  padding: 1rem;
}

a:link,
a:visited,
a:active {
  color: #1eae98;
}

a:hover {
  color: #a9f1df;
}

input {
  display: inline-block;
  margin-right: 8px;
}

.itemList {
  text-align: left;
}

ul {
  list-style-type: none;
}

li {
  padding: 2px;
}

li:hover {
  /* font-weight: bold; */
  background-color: #233e8b;
  color: #ffffdc;
}

li label {
  display: inline-block;
  width: 200px;
}

button {
  background-color: #233e8b;
  color: #a9f1df;
  border: none;
  padding: 4px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  margin: 4px 0;
  cursor: pointer;
}

input.addItem {
  color: #233e8b;
  border: none;
  padding: 4px 12px;
  font-size: .9rem;
  width: 250px;
}

select {
  background-color: #ffffc7;
  color: #6d7486;
  border: none;
  padding: 4px 8px;
  margin-right: 8px;
  font-size: .9rem;
  width: 214px;
}

ul {
  padding-left: 0;
  margin: 0;
}


input[type=checkbox]:not(:checked)+label {
  text-decoration: none;
}

input[type=checkbox]:checked+label {
  color: grey;
  text-decoration: line-through;
}


.category__headline {
  color: #a9f1df;
  margin-bottom: .2em;
}

.button--delete {
  margin: 2rem 0 4px 0;
}