/*------------------ Basics ------------------*/
body {
  background: $colour-blue;
  color: $colour-base-light;
  text-align: center;
}

.button {
  padding: 8px 24px;
  border: 1px solid $colour-green-dark;
  border-radius: 6px;
  background-color: $colour-highlight-medium;
  color: $colour-teal-dark;
  text-align: center;
  text-decoration: none;
  font-weight: 700;
  cursor: pointer;

  &__createList {
    width: 100%;
    margin-bottom: 1rem;
  }
}

.flex-row-space-between {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.screen-reader-only {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); // IE6, IE7 
  clip: rect(1px, 1px, 1px, 1px);
}

.toggle-visibility {
  display: none;
}