/*------------------ Footer ------------------*/
.footer {
  background-color: $colour-blue;
  color: $colour-green-medium;
  font-size: .8rem;
  padding: 1rem 0;
}

.credits__link {

  &:link,
  :visited,
  :active {
    color: $colour-green-medium;
  }

  &:hover {
    color: $colour-green-light;
  }
}