/*------------------ Header ------------------*/
.header {
  background: $colour-blue;

  &__headline {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 0;
    padding-top: 20px;
  }

  &__logo {
    margin: 0 0 .2rem .3rem;
    width: 3.7rem;
    height: 3.7rem;

    @include screen(p-medium) {
      width: 4rem;
      height: 4rem;
    }
  }

  &__subtitle {
    padding-bottom: 20px;
    font-size: $text-sm;
    color: $colour-green;

    @include screen(p-medium) {
      font-size: $text-body;
    }
  }
}