/*------------------ ItemCategory ------------------*/
.itemCategory {

  &__select {
    margin-right: 4px;
    padding: 3px 4px;
    width: 100%;
    border: 1px solid $colour-green-dark;
    border-radius: 6px;
    background-color: $colour-brown-light;
    color: $colour-brown-medium;
  }
}