/*------------------ ItemCategory ------------------*/
.itemCategory {

  &__select {
    padding: 3px 4px;
    background-color: $colour-brown-light;
    color: $colour-brown-dark;
    border: none;
    font-size: $text-sm;
    width: 194px;

    @include screen(ls-small) {
      font-size: $text-body;
      width: 210px;
    }
  }

}