/*------------------ ItemListing ------------------*/
.itemList {
  margin: 4px 0;
  padding: 1px 10px 10px;
  border-radius: 3px;
  background-color: $colour-base-light;
  color: $colour-teal;

  &__empty {
    margin: 46px;
    line-height: 1.6em;
    font-style: italic;

    &-info {
      margin-bottom: 10px;
    }
  }
}

.category__headline {
  margin: .6em 0 .3em;
  font-size: 1rem;
  color: $colour-teal-light;

  @include screen(p-medium) {
    font-size: 1.1rem;
  }
}

.item {

  &__list {
    list-style-type: none;
  }

  &__element {
    color: $colour-teal-dark;
    font-weight: 700;

    @include screen(ls-small) {

      &:hover {
        background-color: $colour-highlight-medium;
      }
    }

    & .item__checkbox {
      margin: 6px 3px 0 6px;

      vertical-align: top;

      &:not(:checked)+label {
        text-decoration: none;
      }

      &:checked+label {
        color: $colour-brown-light;
        text-decoration: line-through;

        @include screen(ls-small) {

          &:hover {
            background-color: $colour-highlight-medium;
            color: $colour-brown-medium;
          }
        }
      }
    }
  }

  &__label {
    flex-grow: 2;
    padding: 4px;
  }
}