/*------------------ ItemAddition ------------------*/
.addItem {

  &__container {
    padding-bottom: 10px;
  }

  &__message {
    padding: 2px 4px 4px 0;
    color: $colour-blue;
    font-weight: bold;

    @include screen(ls-small) {
      font-size: $text-body;
    }
  }

  &__label {
    color: $colour-blue;
  }

  &__input {
    margin-bottom: 4px;
    padding: 8px 10px;
    width: 100%;
    border: 1px solid $colour-green-dark;
    border-radius: 6px;
    background-color: $colour-brown-pale;
    // font-size: $text-sm;

    // @include screen(p-medium) {
    //   font-size: $text-body;
    // }
  }
}