/*------------------ Main ------------------*/
.main {
  background-color: $colour-green;
  color: $colour-yellow-light;
  padding: 16px;
  width: 280px;
  text-align: left;
  margin: 0 auto;

  @include screen(ls-small) {
    width: 300px;
  }
}