/*------------------ Main ------------------*/
.main {
  padding: 1.2rem 1.4rem;
  background-color: $colour-green;
  text-align: left;

  @include screen(p-xlarge) {
    margin: 1rem auto;
    width: 400px;
    border-radius: 3px;
  }

  &__title {
    color: $colour-blue-dark;
    font-size: 1.2rem;
    margin: 0 0 .4rem;

    @include screen(p-medium) {
      font-size: 1.3rem;
    }
  }
}

.infobox {
  margin: 20px 0 0;
  padding: 8px;
  border: 1px solid $colour-green-medium;
  border-radius: 3px;
  color: $colour-green-darkest;
  font-size: .9rem;

  &__toggle {
    cursor: pointer;
  }

  &__headline {
    font-size: 1rem;
    font-weight: bold;
  }

  &__button {
    font-size: 1rem;
    font-weight: bold;
    margin: 0;
    cursor: pointer;
  }

  &__content {
    margin: 6px 0 2px;
  }

  &__text {
    margin-bottom: 5px;
  }

  &__link {
    text-decoration: underline;
    overflow-wrap: break-word;

    &:link,
    :visited,
    :active {
      color: $colour-teal;
    }

    &:hover {
      color: $colour-teal-dark;
    }
  }
}