/*------------------ Variables ------------------*/
// Colour palette update
// dark #227C9D; tealx #17C3b2; yellowx #ffcb77; cream #fef9ef; redx #fe6d73;

// $colour-base-light: #fff8f1;
$colour-base-light: #fef9ef;
$colour-yellow-light: #fcead5;

$colour-highlight-medium: #ffcb77;
$colour-highlight-strong: #fa5d62;

$colour-blue-dark: #003457;
$colour-blue: #053e80;

$colour-teal-dark: #004e81;
$colour-teal: #227C9D;
$colour-teal-light: #52b2d4;

$colour-green-darkest:#12535c;
$colour-green-dark: #158075;
$colour-green-medium: #129e90;
$colour-green: #17C3b2;
$colour-green-light: #78e0d6;

$colour-brown-medium: #665d51;
$colour-brown-light: #cabfb2;
$colour-brown-pale: #e2d9cf;