/*------------------ Variables ------------------*/
$colour-base-light: #fff8f1;

$colour-brown-dark: #3f3934;
$colour-brown-medium: #58534f;
$colour-brown-light: #cabfb2;
$colour-brown-pale: #ece4da;

$colour-blue-dark: #122352;
$colour-blue: #233e8b;
$colour-blue-light: #4092C9;
$colour-blue-pale: #a5d7eb;

$colour-green-dark: #177a6a;
$colour-green-medium: #148d7b;
$colour-green: #1eae98;
$colour-green-light: #99ffe6;

$colour-orange: #FF7230;
$colour-orange-light: #E6994E;

$colour-yellow-light: #f7f7c7;

$colour-red: #E3584B;
$colour-red-dark: #533532;